# Byte-compiled / optimized / DLL files
__pycache__/
*.so

# Virtual environments
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
test_align.py
Dataset/download.sh
test/
/dataset
/datasetMO
# Logs and temp files
*.log
*.tmp
utils/others
Dataset/shapenetcore
Dataset/3Dmatch
ModelNet10/
benchMarking.py
test_align.py 
test_PointNetpp.py
test_PointNet.py
test_DGCNN.py